@model IEnumerable<Car>

@{
    ViewData["Title"] = "Car";
}
<head>
	<link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>Car</title>
</head>

<div class="text-center">
    <h2 class="display-4">Rent Your Dream Car</h2>
    <p>Learn about our Cars now and get a 1% discount &#64; <a href="https://boulderbugle.com/-a4x0o13j">www.YouWish.com</a></p>
</div>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 900px">
                <div row="g-0">
                    <div class="col-md-12">
                        @* Card Header *@
                        <div class="card-header text-white bg-dark">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Brand @item.ModelType
                                    <a class="text-white float-md-end"></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 card-img" style="overflow: hidden;">
                        <img src="@item.PictureUrl" style="object-fit: cover; width: 100%; height: 100%;" alt="@item.ModelType image">
                    </div>
                    <div class="col-md-6 card-body">
                        <div>
                            <p class="card-text"><b>Car Nr.: </b>@item.Nr</p>
                            <p class="card-text"><b>Brand: </b>@item.Brand</p>
                            <p class="card-text"><b>Model: </b>@item.ModelType</p>
                            <p class="card-text"><b>Price: </b> @{decimal price = (decimal)item.Category;}
                                @Html.DisplayFor(modelItem => price)</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @* Footer *@
                        <div class="card-footer text-end">
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Show Details</a>
                            <a class="btn btn-success text-white col-2" asp-controller="Reservations" asp-action="Create" asp-route-carId="@item.Id" asp-route-category="@(item.Category.ToString())"><i class="bi-cart-plus"> Rent</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>