@model IEnumerable<Car>

@{
    ViewData["Title"] = "Car";
}

<div class="text-center">
    <h2 class="display-4">Rent Your Dream Car</h2>
    <p>Learn about our Cars now and get a 1% discount &#64; <a href="https://boulderbugle.com/-a4x0o13j">www.YouWish.com</a></p>
</div>
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px">
                <div row="g-0">
                    <div class="col-md-12">

                        @*Card Header*@
                        <div class="card-header text-white bg-dark">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Brand @item.ModelType
                                    <a class="text-white float-md-end"></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 card-img">
                        <img src="@item.PictureUrl" width="538px" height="300px" alt="@item.ModelType image">
                    </div>
                    <div class="col-md-6 card-body">                        
                        <div>
                            <p class="card-text">Some useful description</p>
                            <p class="card-text"><b>Car Nr.: </b>@item.Nr</p>
                            <p class="card-text"><b>Brand: </b>@item.Brand</p>
                            <p class="card-text"><b>Model: </b>@item.ModelType</p>
                            <p class="card-text"><b>Price: </b> @{decimal price = (decimal)item.Category;}
                                @Html.DisplayFor(modelItem => price)</p>
                            <p class="card-text"><b>Available: </b>@if (item.IsAvailable)
                                {
                                    <span>&#10004;</span>
                                }
                                else
                                {
                                    <span>&#10060;</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">

                        @*Footer*@
                        <div class="card-footer text-end">
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Show Details</a>
                            <a class="btn btn-success text-white col-2" asp-controller="Reservations" asp-action="Create"><i class="bi-cart-plus"> Rent</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*<div class="col-md-8 offset-md-2 ">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Brand)</th>
                <th>@Html.DisplayNameFor(model => model.ModelType)</th>
                <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
                <th>Actions</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td class="align-middle">
                        <img src="@item.PictureUrl" alt="@item.ModelType" style="height: 180px; width: 320px">
                    </td>
                    <td class="align-middle">@Html.DisplayFor(Item => item.Brand)</td>
                    <td class="align-middle">@Html.DisplayFor(Item => item.ModelType)</td>

                    @if (item.IsAvailable)
                    {
                        <td class="align-middle">&#10004;</td>
                    }
                    else
                    {
                        <td class="align-middle">&#10060;</td>
                    }

                    <td class="align-middle">
                        <a class="btn btn-outline-info text-black"><i class="bi bi-eye"></i>Details</a> |
                        <a class="btn btn-outline-primary text-black"><i class="bi bi-pencil-square"></i>Rent</a> |
                        <a class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                    </td>
                    <td class="align-middle">
                        @{
                            decimal price = (decimal)item.Category;
                        }
                        @Html.DisplayFor(modelItem => price)
                    </td>
                </tr>
            }
        </tbody>
        <tr>
            <td></td>
        </tr>
    </table>
</div>
*@